<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod provident facere sunt, autem illo deserunt quam neque eos iste et nulla quaerat, aut, tempore blanditiis dignissimos. Voluptatibus rerum culpa facere, odio blanditiis inventore nisi molestias debitis sequi quas minima numquam?</p>
    </div>
</div>